#
# Copyright (c) 2022 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
#----------------------------------- system tests
CONFIG_WIFI_SCAN_BLE_CON_CENTRAL=n
CONFIG_WIFI_SCAN_BLE_CON_PERIPH=n
CONFIG_WIFI_SCAN_BLE_TP_CENTRAL=n
CONFIG_WIFI_SCAN_BLE_TP_PERIPH=n
CONFIG_WIFI_CON_SCAN_BLE_CON_CENTRAL=n
CONFIG_WIFI_CON_SCAN_BLE_CON_PERIPH=n
CONFIG_WIFI_CON_SCAN_BLE_TP_CENTRAL=n
CONFIG_WIFI_CON_SCAN_BLE_TP_PERIPH=n
CONFIG_WIFI_CON_BLE_CON_CENTRAL=n
CONFIG_WIFI_CON_BLE_CON_PERIPH=n
CONFIG_WIFI_CON_BLE_TP_CENTRAL=n
CONFIG_WIFI_CON_BLE_TP_PERIPH=n
CONFIG_WIFI_TP_CLIENT_BLE_CON_CENTRAL=n
CONFIG_WIFI_TP_CLIENT_BLE_CON_PERIPH=n
CONFIG_WIFI_TP_CLIENT_BLE_TP_CENTRAL=n
CONFIG_WIFI_TP_CLIENT_BLE_TP_PERIPH=n
CONFIG_WIFI_TP_SERVER_BLE_CON_CENTRAL=n
CONFIG_WIFI_TP_SERVER_BLE_CON_PERIPH=n
CONFIG_WIFI_TP_SERVER_BLE_TP_CENTRAL=n
CONFIG_WIFI_TP_SERVER_BLE_TP_PERIPH=n
CONFIG_WIFI_TP_TCP_CLIENT_BLE_CON_CENTRAL=n
CONFIG_WIFI_TP_TCP_CLIENT_BLE_CON_PERIPH=n
CONFIG_WIFI_TP_TCP_CLIENT_BLE_TP_CENTRAL=y
CONFIG_WIFI_TP_TCP_CLIENT_BLE_TP_PERIPH=n
CONFIG_WIFI_TP_TCP_SERVER_BLE_CON_CENTRAL=n
CONFIG_WIFI_TP_TCP_SERVER_BLE_CON_PERIPH=n
CONFIG_WIFI_TP_TCP_SERVER_BLE_TP_CENTRAL=n
CONFIG_WIFI_TP_TCP_SERVER_BLE_TP_PERIPH=n
#----------------------------------- regression tests
CONFIG_WIFI_CON_BLE_CON_CENTRAL_REGR=n
CONFIG_WIFI_CON_BLE_CON_PERIPH_REGR=n
CONFIG_WIFI_CON_BLE_TP_CENTRAL_REGR=n
CONFIG_WIFI_CON_BLE_TP_PERIPH_REGR=n
#----
CONFIG_BLE_CONN_CENTRAL_WIFI_SCAN_REGR=n
CONFIG_BLE_CONN_CENTRAL_WIFI_CON_SCAN_REGR=n
CONFIG_BLE_CONN_CENTRAL_WIFI_CON_REGR=n
CONFIG_BLE_CONN_CENTRAL_WIFI_PING_REGR=n
CONFIG_BLE_CONN_CENTRAL_WIFI_TP_UDP_CLIENT_REGR=n
CONFIG_BLE_CONN_CENTRAL_WIFI_TP_UDP_SERVER_REGR=n
CONFIG_BLE_CONN_CENTRAL_WIFI_TP_TCP_CLIENT_REGR=n
CONFIG_BLE_CONN_CENTRAL_WIFI_TP_TCP_SERVER_REGR=n

CONFIG_BLE_CONN_PERIPHERAL_WIFI_SCAN_REGR=n
CONFIG_BLE_CONN_PERIPHERAL_WIFI_CON_SCAN_REGR=n
CONFIG_BLE_CONN_PERIPHERAL_WIFI_CON_REGR=n
CONFIG_BLE_CONN_PERIPHERAL_WIFI_PING_REGR=n
CONFIG_BLE_CONN_PERIPHERAL_WIFI_TP_UDP_CLIENT_REGR=n
CONFIG_BLE_CONN_PERIPHERAL_WIFI_TP_UDP_SERVER_REGR=n
CONFIG_BLE_CONN_PERIPHERAL_WIFI_TP_TCP_CLIENT_REGR=n
CONFIG_BLE_CONN_PERIPHERAL_WIFI_TP_TCP_SERVER_REGR=n
